{
  "presets": ["@babel/preset-flow", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@api": "./src/Api",
        "@assets": "./src/Assets",
        "@auth": "./src/Auth",
        "@context": "./src/Context",
        "@core": "./src/Core",
        "@dashboard": "./src/Dashboard",
        "@notfound": "./src/NotFound",
        "@shared": "./src/Shared"
      }
    }]
  ]
}